@font-face {
	font-family: font_1; /* Имя шрифта */
    src: url('fonts/Connie-Regular.ttf'); /* Путь к файлу со шрифтом */
}

html {
	overflow: hidden;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: Proxima Nova;

}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently */
	zoom:  100%;
	 background: linear-gradient(#1A1D31, #350024);
	 font-family: font_1;
	 height: 100%;


}

/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

#game_viewport, #game_options, #game_shop, #game_special_offers, .big_block {
	background: linear-gradient(#1A1D31, #350024);
}

#game_viewport, #game_characters, #game_endings {
	
	z-index: 1;
	
}

#game_options, #game_shop, #game_special_offers {
	display: block;
}

div, textarea {
	position: absolute;
}

span {
	position: relative;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.blue {
	color: #00a3a3;
}

.ultramarin {
	color: #0000ff;
}

.auripigment {
	color: #f1c232;
}

.green {
	color: #00ff00;
}

#gs_card_block, #gso_cb_desc {
	line-height: 1.25;
}

#gs_popup_back, #gs_popup2_back, #gs_popup3_back {
	display: none;
}

.coin_ico {
	position: relative;
}

span.text {
	margin-top: -1.75%;
}

#gso_cb_img {
	border-radius:20px;
}

#go_br_popup_textarea, #gso_p_poup_textarea {
	color: rgb(205, 136, 58);
	border: none;
	outline: none;
}

#go_cb_i2_btn_2_ok {
	display: none;
}

#ga_card_block, #gch_card, #ge_card, #gs_card_block {
	overflow-y: auto;
	overflow-x: hidden;
}

#game_debug {
	box-sizing: border-box;
	  touch-action: none;

}

.horizontal-shake {
  animation: horizontal-shaking 0.25s infinite;
}

.red-color-shake {
	animation-name: color_change;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

@-webkit-keyframes color_change {
	from { color: #cd883a; }
	to { color: red; }
}
@-moz-keyframes color_change {
	from { color: #cd883a; }
	to { color: red; }
}
@-ms-keyframes color_change {
	from { color: #cd883a; }
	to { color: red; }
}
@-o-keyframes color_change {
	from { color: #cd883a; }
	to { color: red; }
}
@keyframes color_change {
	from { color: #cd883a; }
	to { color: red; }
}